        <div id="copyright">
            <ul>
                <li><a href="https://beian.miit.gov.cn/" style="border-bottom: none;">鲁ICP备2022006241号-3</a></li><br />
                <li>Copyright © 2020-2022 <a href="http://mckfs.com/" style="border-bottom: none;">KFS服务器</a></li>
            </ul>
            <% if(theme.busuanzi.enable === true ) { %>
                <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
			<% } else { %>
				<span id="busuanzi_container_site_pv"> <%- date(Date.now(), 'YYYY') %> </span> 
			<% } %>
        </div>